<head>

    <body>
        
        <h1>Luxury Car In India</h1>

        <h2>Roll Royce</h2>

        <h3>Since the reveal of the first ever Range Rover in 1970, the vehicle has continuously evolved. The world’s most luxurious SUV features superb levels of sophistication, inherent capability and design inspiration, together with technological advances that set it apart. We look back at the history of the series of luxury SUV’s known as the Range Rover</h3>

        <h4>Following the successful testing of the Velar concept vehicle, the first Range Rover was revealed to the world. It was met with widespread critical acclaim, thanks to rare combination of capability and elegant design. It was the first vehicle to deliver permanent 4 Wheel Drive and feature split tailgate, clamshell bonnet and continuous waistline.In order to keep the prototype for the first ever Range Rover a closely-guarded secret, the designers and engineers behind this revolutionary new vehicle gave the top-secret prototype the name ‘Velar ’, derived from the Italian word ‘velare’, meaning to veil or cover. The first 26 prototypes were even fitted with a badge of the same name to disguise its identity.</h4>


        <h2>Mercedes Benz</h2>

        <h3>Gottlieb Daimler is born on 17 March 1834 in Schorndorf. After training as a gunsmith and working in France, he attends the Polytechnic School in Stuttgart from 1857 to 1859. After completing various technical activities in France and England, he starts work as a draftsman in Geislingen in 1862. At the end of 1863, he is appointed workshop inspector in a machine tool factory in Reutlingen, where he meets Wilhelm Maybach in 1865. In 1872, he becomes Technical Director of the gas engine manufacturer Deutz Gasmotorenfabrik, where he becomes familiar with Otto’s four-stroke technology. After differences with the Managing Director, he leaves the company in 1882. Daimler sets up a development workshop in his greenhouse at his Cannstatt villa to concentrate on developing petrol-driven four-stroke engines. Working with Wilhelm Maybach in 1884, he develops an internal combustion engine known today as the 'Grandfather Clock'. With its compact, low-weight design, the machine forms the basis for installation in a vehicle. The costs of trial operations soon consume Daimler’s entire fortune, however, so he is obliged to find business partners. He founds 'Daimler-Motoren-Gesellschaft' on 28 November 1890 together with Max Duttenhofer and his business partner Wilhelm Lorenz. But while Duttenhofer wants to produce stationary engines, Daimler prefers to focus on vehicle production, and a dispute ensues.</h3>

             



        <h2>B M W</h2>

        <h3>BMW was created in 1917 from the Munich firm Rapp-Motorenwerke. The company was incorporated into Knorr-Bremse AG in 1920 before being refounded as BMW AG in 1922. It was the successor of Bayerische Flugzeugwerke AG, founded in 1916. 1916 is therefore considered BMW's founding year.1 Aug 2019</h3>

        <h4>BMW can trace its roots back to Karl Rapp and Gustav Otto. In 1916, the Flugmaschinenfabrik Gustav Otto company had merged into Bayerische Flugzeug-Werke AG (BFW) at government behest. Elsewhere, in 1917, the Rapp Motorenwerke company became Bayerische Motoren Werke GmbH, which was duly converted into an AG (public limited company) in 1918. BMW AG subsequently transferred its engine construction operations – including the company and brand names – to BFW in 1922. The date of BFW’s founding, 7 March 1916, has therefore gone down in history as the foundation date of Bayerische Motoren Werke AG.

        </h4>

        <h2>Audi</h2>

        <h3>August Horch founded his first automobile company, August Horch & Cie, in Cologne in 1899. Shortly after that, in 1909, he set up a new automobile company in Zwickau, which has been operating under the name Audiwerke AG, Zwickau since 1910. This marked the birth of the modern company's name.</h3>

        <h2>Range Rover</h2>

        <h3>Since the reveal of the first ever Range Rover in 1970, the vehicle has continuously evolved. The world’s most luxurious SUV features superb levels of sophistication, inherent capability and design inspiration, together with technological advances that set it apart. We look back at the history of the series of luxury SUV’s known as the Range Rover family.

        </h3>






        


    </body>
</head>